<h2 class="main_title">My Story</h2>

<p>Making cake has been my hobby for many years. I always try to make my family and friends happy. My first order was a friend's request for designing special cupcakes for her son's birthday and later I started to receive more requests which encouraged me to make tasty and beautiful cakes. </p>

<p>After taking a professional Korea bean paste flower cake course in 2017, I developed my skill in piping and more floral style.</p>

<p>My cakes are made with premium ingredients and all floral decorations on the cakes are handcrafted. Each cake is slightly different from the display photo and unique.</p>

<p>I hope you enjoy the cakes as much as I enjoy making them for you. Please use the links on the left to make your selection.</p>

